[submodule "UVKBuildTool"]
	path = UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.git
[submodule "Framework/ThirdParty/logger"]
	path = Framework/ThirdParty/logger
	url = https://github.com/MadLadSquad/UntitledLog.git
[submodule "Framework/ThirdParty/yaml-cpp"]
	path = Framework/ThirdParty/yaml-cpp
	url = https://github.com/MadLadSquad/yaml-cpp.git
[submodule "Framework/ThirdParty/glew"]
	path = Framework/ThirdParty/glew
	url = https://github.com/MadLadSquad/glew-cmake.git
[submodule "Framework/ThirdParty/imgui"]
	path = Framework/ThirdParty/imgui
	url = https://github.com/MadLadSquad/imgui.git
[submodule "Framework/ThirdParty/glfw"]
	path = Framework/ThirdParty/glfw
	url = https://github.com/MadLadSquad/glfw.git
