[submodule "Framework/Modules/Plotting/ThirdParty/implot"]
	path = Framework/Modules/Plotting/ThirdParty/implot
	url = https://github.com/MadLadSquad/implot.git
[submodule "Framework/Modules/Audio/ThirdParty/openal"]
	path = Framework/Modules/Audio/ThirdParty/openal
	url = https://github.com/MadLadSquad/openal-soft.git
[submodule "UVKBuildTool"]
	path = UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.git
[submodule "Framework/ThirdParty/logger"]
	path = Framework/ThirdParty/logger
	url = https://github.com/MadLadSquad/UntitledLog.git
[submodule "Framework/ThirdParty/yaml-cpp"]
	path = Framework/ThirdParty/yaml-cpp
	url = https://github.com/MadLadSquad/yaml-cpp.git
