[submodule "UVKBuildTool"]
	path = UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.git
	branch = master
[submodule "Framework/ThirdParty/logger"]
	path = Framework/ThirdParty/logger
	url = https://github.com/MadLadSquad/UntitledLog.git
	branch = master
[submodule "Framework/ThirdParty/yaml-cpp"]
	path = Framework/ThirdParty/yaml-cpp
	url = https://github.com/MadLadSquad/yaml-cpp.git
[submodule "Framework/ThirdParty/imgui"]
	path = Framework/ThirdParty/imgui
	url = https://github.com/MadLadSquad/imgui.git
[submodule "Framework/ThirdParty/glfw"]
	path = Framework/ThirdParty/glfw
	url = https://github.com/MadLadSquad/glfw.git
[submodule "Framework/Modules/Plotting/ThirdParty/implot"]
	path = Framework/Modules/Plotting/ThirdParty/implot
	url = https://github.com/MadLadSquad/implot.git
[submodule "Framework/ThirdParty/source-libraries/urll"]
	path = Framework/ThirdParty/source-libraries/urll
	url = https://github.com/MadLadSquad/UntitledRuntimeLibraryLoader.git
[submodule "Framework/Modules/OS/ThirdParty/uexec"]
	path = Framework/Modules/OS/ThirdParty/uexec
	url = https://github.com/MadLadSquad/UntitledExec.git
[submodule "Framework/Modules/Knobs/ThirdParty/imgui-knobs"]
	path = Framework/Modules/Knobs/ThirdParty/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
[submodule "Framework/Modules/Spinners/ThirdParty/imspinner"]
	path = Framework/Modules/Spinners/ThirdParty/imspinner
	url = https://github.com/dalerank/imspinner.git
[submodule "Framework/Modules/Toggles/ThirdParty/imgui_toggle"]
	path = Framework/Modules/Toggles/ThirdParty/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
[submodule "Framework/ThirdParty/freetype"]
	path = Framework/ThirdParty/freetype
	url = https://github.com/MadLadSquad/freetype.git
[submodule "Framework/Modules/CLIParser/ThirdParty/UntitledCLIParser"]
	path = Framework/Modules/CLIParser/ThirdParty/UntitledCLIParser
	url = https://github.com/MadLadSquad/UntitledCLIParser.git
[submodule "Framework/ThirdParty/vulkan-headers"]
	path = Framework/ThirdParty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Framework/Modules/OS/ThirdParty/UntitledXDGBasedir"]
	path = Framework/Modules/OS/ThirdParty/UntitledXDGBasedir
	url = https://github.com/MadLadSquad/UntitledXDGBasedir.git
[submodule "Framework/Modules/TextUtils/ThirdParty/UntitledImGuiTextUtils"]
	path = Framework/Modules/TextUtils/ThirdParty/UntitledImGuiTextUtils
	url = https://github.com/MadLadSquad/UntitledImGuiTextUtils.git
[submodule "Framework/Modules/OS/ThirdParty/UntitledDBusUtils"]
	path = Framework/Modules/OS/ThirdParty/UntitledDBusUtils
	url = https://github.com/MadLadSquad/UntitledDBusUtils.git
[submodule "Framework/Modules/Theming/ThirdParty/UntitledImGuiTheme"]
	path = Framework/Modules/Theming/ThirdParty/UntitledImGuiTheme
	url = https://github.com/MadLadSquad/UntitledImGuiTheme.git
[submodule "Framework/Modules/i18n/ThirdParty/UntitledI18N"]
	path = Framework/Modules/i18n/ThirdParty/UntitledI18N
	url = https://github.com/MadLadSquad/UntitledI18N.git
[submodule "Framework/Modules/OS/ThirdParty/UntitledOpen"]
	path = Framework/Modules/OS/ThirdParty/UntitledOpen
	url = https://github.com/MadLadSquad/UntitledOpen.git
[submodule "Framework/ThirdParty/source-libraries/parallel-hashmap"]
	path = Framework/ThirdParty/source-libraries/parallel-hashmap
	url = https://github.com/MadLadSquad/parallel-hashmap.git
[submodule "Framework/ThirdParty/utfcpp"]
	path = Framework/ThirdParty/utfcpp
	url = https://github.com/MadLadSquad/utfcpp.git
[submodule "Framework/ThirdParty/source-libraries/cimgui/cimgui_extra"]
	path = Framework/ThirdParty/source-libraries/cimgui/cimgui_extra
	url = https://github.com/MadLadSquad/cimgui_extra.git
